@media screen and (min-width: 540px) { /*PCç”¨*/
    header{
        background-image: url("./../static/images/headerPC.svg");

    }
    header > #header_word{

        font-size: 50px;
        letter-spacing: 0.07em;
        color: #544C09;
    }
}